.main-header {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 130px;
}

.auth-buttons {
  margin-left: auto;
}

.main-header li {
  display: inline-block;
  margin: 0 5px;
}

.button {
  color: #00a82d;
  font-family: Helvetica, Arial, sans-serif;
  height: 40px;
  font-size: 14px;
  line-height: 37px;
  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;
  padding: 0 10px;
}

.button:hover {
  color: #14CC45;
  transition: .3s color ease-in-out;
}

.button-outline {
  border: 2px solid #00a82d;
  border-radius: 3px;
  min-width: 120px;
  color: #00a82d;
  font-family: Helvetica, Arial, sans-serif;
  height: 40px;
  font-size: 14px;
  line-height: 37px;
  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;
  padding: 0 10px;
}

.button-outline:hover {
  border: 2px solid #14CC45;
  color: #14CC45;
  transition: .3s color ease-in-out, .3s border ease-in-out;
}

