.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  transition: 5s;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notebooks-list-container {
  margin: 20px;
}

.notebooks-list-header {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
  color: #313131;
  margin-bottom: 10px;
}

.notebooks-list-menubar {
  display: flex;
  align-items: center;
}

.notebooks-list-menubar-header {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #313131;
  margin: 10px 0px;
}

.notebooks-list-menubar-new-notebook-button {
  margin-left: auto;
  padding-right: 10px;
}

.notebooks-list-menubar-sort-button {
  padding-right: 10px;
  color: #b0b0b0;
}

.notebook-item-icon {
  margin-right: 5px;
}

.notebooks-index-item {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #313131;
  line-height: 35px;
}

.notebooks-index-item a:hover {
  background-color: #eeeeee;
}

.notebooks-index-item a {
  display: flex;
}

.notebooks-index-item a span:nth-child(3) { flex-basis: 40%; }
.notebooks-index-item a span:nth-child(4) { flex-basis: 15%; }
.notebooks-index-item a span:nth-child(5) { flex-basis: 15%; }
.notebooks-index-item a span:nth-child(6) { flex-basis: 15%; }
.notebooks-index-item a span:nth-child(7) { flex-basis: 15%; }

.notebooks-index-item a span:hover {
  text-decoration: underline;
}

.notebooks-list-content-ul li:nth-child(even){
  background-color: #f8f8f8;
}

.notebooks-list-table-header:hover {
  background-color: #eeeeee;
}

.notebooks-list-table-header li:hover {
  text-decoration: underline;
}

.notebooks-list-table-header li:nth-child(1){
  /* background-color: red; */
  flex-basis: 40%;
}

.notebooks-list-table-header li:nth-child(2){
  /* background-color: blue; */
  flex-basis: 15%
}

.notebooks-list-table-header li:nth-child(3){
  /* background-color: green; */
  flex-basis: 15%;
}

.notebooks-list-table-header li:nth-child(4){
  /* background-color: purple; */
  flex-basis: 20%;
}

.notebooks-list-table-header li:nth-child(5){
  /* background-color: rgb(24, 158, 199); */
  flex-basis: 10%;
}

.notebooks-list-table-header {
  background-color: #f8f8f8;
  border-bottom: 1px solid #ededed;
  border-top: 2px solid #5b6b70;
  color: #bcbcbc;
  display: flex;
}

.notebooks-list-table-header li {
  margin-left: 5px;
  text-transform: uppercase;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 3em;
}

.notebooks-index-item span {
  margin-right: 10px;
  margin-left: 10px;
}

/* .notebook-item-icon {
  
}

.notebook-item-title {
  
}

.notebook-item-created-by {
  
}

.notebook-item-updated {
  
}

.notebook-item-shared-with {
  
}

.notebook-item-actions {
  padding: 5px;
} */

.new-notebook-form-container {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 2px red dotted; */
  min-height: 150px;
  width: 500px;
  margin: 0px auto 28px auto;
  padding: 20px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .08), 0 2px 15px rgba(0, 0, 0, .2);
  border-radius: 4px;
  text-align: left;
  line-height: 1.1875;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, san-serif;
}

.white-cancel-button {
  cursor: pointer;
    background: none;
    background-color: white;
    color: #b3b3b3;
    border: 1px solid #ededed;
    align-items: center;
    vertical-align: middle;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 1;
    letter-spacing: 0;
}

.white-new-notebook-continue-button {
  cursor: default;
    border: none;
    color: #fff;
    background-color: #dcdfe3;
    align-items: center;
    vertical-align: middle;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 1;
    letter-spacing: 0;
}

.new-notebook-form-header {
  display: flex;
  align-items: center;
}

.new-notebook-form-header-text {
  margin: 10px 0 10px 0;
  font-size: 16px;
}

.new-notebbook-form-text {
  margin: 10px 0 10px 0;
  font-size: 12px;
}

.close-x {
  margin-left: auto;
  cursor: pointer;
}

.close-x:hover {
  opacity: 0.5;
  transition: all 1s ease-out;
}

.new-notebook-form-input {
  color: #333333;
  border: 1px solid #e6e6e6;
  padding: 12px 16px;
  border-radius: 6px;
  margin: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.1875;
}