@import url('https://unpkg.com/react-quill@1.0.0/dist/quill.snow.css');
@import url('https://unpkg.com/react-quill@1.0.0/dist/quill.core.css');
@import url('https://unpkg.com/react-quill@1.0.0/dist/quill.bubble.css');

.note-edit {
  margin: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.note-edit-save-button {
  padding-left: 50px;
}

.notebooks-item-col1 {
  display: flex;
  padding-left: 10px;
}

.note-edit-buttons-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0 10px 0;
}

.edit-form-title-input {
      /* display: block; */
    font-size: 24px;
    width: 100%;
    margin-bottom: 10px;
    /* padding: 8px 40px 4px; */
    padding-left: 10px;
    outline: none;
    z-index: 1;
    cursor: text;
    font-weight: 300;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.note-form {
  display: flex;
  flex-direction: column;
}

.edit-submit-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.ql-container.ql-snow, .ql-toolbar.ql-snow {
  border: none;
}

.note-taggings {
  height: 50px;
  /* border-top: 1px solid #ececec; */
}

.note-tags-container {
  height: 50px;
  border-top: 1px solid #ececec;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
  bottom: 0%;
  left: 560px;
  width: 100%;
  background-color: white;
}

.note-edit-container {
  /* height: 100vh; */
  overflow: hidden;
}

.show-taggings-container {
  display: flex;
}

.tag-label {
  padding: 5px;
}


.taggings-search-modal {
  position: relative;
  background: #fff;
  width: 140px;
  text-align: left;
  list-style: none;
  border-radius: 3px;
  color: #666;
  font-size: 12px;
  z-index: 15;
  margin-top: -60px;
  margin-left: -120px;
}

.taggings-search-modal-child {
  width: 140px;
  position: absolute;
  padding: 1px;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, .16), 0 4px 2px rgba(27, 39, 51, .08);
}


.app .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

/* Snow Theme */
.app .ql-snow.ql-toolbar {
  display: block;
  background: white;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

/* Bubble Theme */
.app .ql-bubble .ql-editor {
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background-color: white;
}

.ql-editor {
  background-color: white;
}

.app .ql-editor {
  min-height: 18em;
}

.note-header {
  border-bottom: 1px solid #ededed;
  height: 54px;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-header-nav {
  position: absolute;
  background: #fff;
  height: 80px;
  width: 200px;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, .16), 0 4px 12px rgba(27, 39, 51, .08);
  text-align: left;
  list-style: none;
  border-radius: 3px;
  color: #666;
  font-size: 12px;
  z-index: 15;
  margin-left: -200px;
  margin-top: 10px;
}

.note-header-nav-child {
  width: 200x;
  position: relative;
}

.note-header-nav-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #666;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 30px;
}

.notes-nav-button-text {
  margin: 0px 5px 0px 5px;
}
.notes-nav-button {
  width: 100%;
}
.notes-nav-button:hover {
  color: #555;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.current-notebook {
  display: flex;
  align-items: center;
}

.current-notebook-icon {
  display: flex;
}

.current-notebook-icon svg path {
  fill: #858f97;
}

.current-notebook-title {
  color: #7a8083;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.current-notebook-title:hover {
  text-decoration: underline;
}

.ql-stroke {
  stroke-width: 1;
}

.notes-subheader {
  display: flex;
  justify-content: space-between;
}

.notes-sort-button-icon {
  margin-right: 10px;
}

.notes-sort-nav {
  position: fixed;
  background: #fff;
  height: 230px;
  width: 240px;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, .16), 0 4px 12px rgba(27, 39, 51, .08);
  text-align: left;
  list-style: none;
  border-radius: 3px;
  color: #666;
  font-size: 12px;
  z-index: 15;
  margin-left: -240px;
  margin-top: -50px;
}

.notes-sort-nav-child {
  width: 240px;
  position: absolute;
  background: #fff;
}

/* move note modal */

.move-note-container {
  background: white;
  min-width: 500px;
  height: 530px;
  padding: 20px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .08), 0 2px 15px rgba(0, 0, 0, .2);
  border-radius: 4px;
  z-index: 5;
  text-align: left;
  line-height: 1.1875;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, san-serif;
}

.move-note-header-text {
  font-size: 18px;
  font-weight: 600;
}

.move-note-form-header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.move-note-form-content {
  border-top: 1px solid #ededed;
}

.move-note-notebook-title {
  font-size: 13px;
}

.move-note-checkbox { flex-basis: 5%; }

.move-note-notebook-icon { 
  flex-basis: 10%;
  display: flex;
  align-items: center;
}

.move-note-notebook-title { flex-basis: 85%; }

.move-note-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.move-note-notebook-item {
  padding: 10px 5px 10px 5px;
  display: flex;
  align-items: center;
}

.move-note-notebook-item:hover {
  background-color: #f5f5f5;
  transition: all 0.08s ease-out;
  cursor: pointer;
}

.move-note-notebook-item.selected {
  background-color: #f0f1f1;
  border-radius: 3px;
}

.move-note-checkbox { 
  opacity: 0;
}

.move-note-checkbox.selected {
  opacity: 1;
  color: #00a82d;
}

/* end move note modal */