@import url('https://unpkg.com/react-quill@1.0.0/dist/quill.snow.css');
@import url('https://unpkg.com/react-quill@1.0.0/dist/quill.core.css');
@import url('https://unpkg.com/react-quill@1.0.0/dist/quill.bubble.css');

.note-edit {
  margin: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
}

.note-edit-save-button {
  padding-left: 50px;
}

.notebooks-item-col1 {
  display: flex;
  padding-left: 10px;
}

.note-edit-buttons-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0 10px 0;
}

.edit-form-title-input {
      /* display: block; */
    font-size: 24px;
    width: 100%;
    margin-bottom: 10px;
    /* padding: 8px 40px 4px; */
    padding-left: 10px;
    outline: none;
    z-index: 1;
    cursor: text;
    font-weight: 300;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.note-form {
  display: flex;
  flex-direction: column;
}

.edit-submit-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.ql-container.ql-snow, .ql-toolbar.ql-snow {
  border: none;
}

.note-tags-container {
  height: 50px;
  border-top: 1px solid #ececec;
  display: flex;
  align-items: center;
}

.note-edit-container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.show-taggings-container {
  display: flex;
}

.tag-label {
  padding: 5px;
}


.taggings-search-modal {
  position: relative;
  background: #fff;
  width: 140px;
  text-align: left;
  list-style: none;
  border-radius: 3px;
  color: #666;
  font-size: 12px;
  z-index: 15;
  margin-top: -60px;
  margin-left: -120px;
}

.taggings-search-modal-child {
  width: 140px;
  position: absolute;
  padding: 1px;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, .16), 0 4px 2px rgba(27, 39, 51, .08);
}


.app .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

/* Snow Theme */
.app .ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

/* Bubble Theme */
.app .ql-bubble .ql-editor {
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.app .ql-editor {
  min-height: 18em;
}

.note-header {
  border-bottom: 1px solid #ededed;
  height: 54px;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.note-header-nav {
  position: absolute;
  background: #fff;
  height: 80px;
  width: 140px;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, .16), 0 4px 12px rgba(27, 39, 51, .08);
  text-align: left;
  list-style: none;
  border-radius: 3px;
  color: #666;
  font-size: 12px;
  z-index: 15;
}

.note-header-nav-child {
  width: 140px;
  position: absolute;
}

.note-header-nav-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #666;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 30px;
}

.notes-nav-button-text {
  margin: 0px 5px 0px 5px;
}
.notes-nav-button {
  width: 100%;
}
.notes-nav-button:hover {
    color: #555;
  background-color: #f5f5f5;
  cursor: pointer;
}