@import url('https://cdn.quilljs.com/1.2.6/quill.snow.css');

.svg-inline--fa.fa-w-14 {
  height: 1.25em;
  width: 1.25em;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(42, 51, 60, .4);
  z-index: 10;
  transition: 5s;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: transparent;
  z-index: 10;
}

.navbar-user-actions {
  position: absolute;
  background: #fff;
  height: 130px;
  width: 200px;
  margin-left: -210px;
  margin-top: 10px;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, .16), 0 4px 12px rgba(27, 39, 51, .08);
  /* padding: 12px; */
  text-align: left;
  list-style: none;
  border-radius: 3px;
  color: #666;
  font-size: 12px;
  z-index: 11;
}

.navbar-user-actions button:hover {
  color: #555;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.navbar-user-actions-child {
  position: absolute;
  width: 200px;
}

.notebooks {
  display: flex;
}

.notebook-detail {
  display: flex;
}

.left-navbar {
  min-height: 100vh;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  min-width: 220px;
  max-width: 220px;
}

.left-navbar-spacer {
  min-width: 220px;
}

.left-navbar-container {
  /* height: 100%; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  /* width: 180px; */
}

.left-navbar-current-user {
  display: flex;
  align-items: center;
}

.left-navbar-user-photo {
  background-image: url('https://cdn3.iconfinder.com/data/icons/complete-set-icons/512/tumblr512x512.png');
  width: 28px;
  height: 28px;
  border-radius: 28px;
  background-color: #ccc;
  background-size: 28px 28px;
  background-position: center center;
}

.left-navbar-current-user-email {
  margin-left: 10px;
  font-size: 12px;
  color: #ccc;
}

.notebooks-list-container, .tags-list-container {
  width: 100%;
  min-width: 900px;
  margin: 10px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
}

.notebooks-list-header, .tags-list-header {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
  color: #313131;
  margin-bottom: 10px;
}

.notebook-detail-notebook-title {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
  color: #313131;
  margin-bottom: 10px;
  margin-top: 25px;
  padding: 20px;
}

.notebook-detail-notes-container {
  overflow: hidden;
}

.notebooks-list-menubar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notebooks-list-menubar-header {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #313131;
  margin: 10px 0px;
}

.notebooks-list-menubar-sort-button {
  /* padding-right: 10px; */
  color: #b0b0b0;
  display: flex;
  align-items: center;
}

.notebook-item-icon {
  margin-right: 5px;
}

.notebooks-list-content-ul {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #313131;
  line-height: 35px;
}

.notebook-item-notes-detail {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #313131;
  line-height: 35px;
  /* padding-left: 60px; */
}

.notebook-item-notes-detail-title {
  display: flex;
}

.notebooks-index-item-hover {
  display: flex;
  padding: 2px 0 2px 0;
}

.notebooks-index-item-hover:hover {
  background-color: #eeeeee;
  transition: all 0.1s ease-out;
}

.notebook-item-notes-detail-title:hover {
  background-color: #eeeeee;
  transition: all 0.1s ease-out;
}

.notebook-item-notes-detail-title-hover:hover {
  background-color: #eeeeee;
  transition: all 0.1s ease-out;
}

.notebook-item-title:hover {
  text-decoration: underline;
  transition: all 0.1s ease-out;
}

.sorted-normal {
  display: flex;
  flex-direction: column;
}

.sorted-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.odd-row {
  background-color: #f8f8f8;
}

.even-row {
  background-color: white;
}

.row-identifier:hover { 
  background-color: #eeeeee;
  transition: all 0.1s ease-out;
}

.notebooks-list-table-header {
  background-color: #f8f8f8;
  border-bottom: 1px solid #ededed;
  border-top: 2px solid #5b6b70;
  color: #bcbcbc;
  display: flex;
  text-transform: uppercase;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 3em;
}

.col1 { flex-basis: 40%; }
.col2 { flex-basis: 15%; }
.col3 { flex-basis: 15%; }
.col4 { flex-basis: 20%; }
.col5 { flex-basis: 10%; }

.new-notebook-form-container {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 2px red dotted; */
  min-height: 150px;
  width: 500px;
  margin: 0px auto 28px auto;
  padding: 20px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .08), 0 2px 15px rgba(0, 0, 0, .2);
  border-radius: 4px;
  text-align: left;
  line-height: 1.1875;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, san-serif;
}

.white-cancel-button {
  cursor: pointer;
  background: none;
  background-color: white;
  color: #b3b3b3;
  border: 1px solid #ededed;
  align-items: center;
  vertical-align: middle;
  border-radius: 4px;
  padding: 10px 15px;
  margin-right: 10px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 1;
  letter-spacing: 0;
}

.white-cancel-button:hover {
  border: 1px solid #c3c3c3;
  background: Transparent;
  color: #999;
  transition: all 0.1s ease-out;
}

.white-new-notebook-continue-button {
  cursor: default;
    border: none;
    color: #fff;
    background-color: #00a82d;
    align-items: center;
    vertical-align: middle;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 1;
    letter-spacing: 0;
}

.white-new-notebook-continue-button:disabled {
  background-color: gray;
}

.white-new-notebook-continue-button:disabled:hover {
    background-color: gray;
}

.white-new-notebook-continue-button:hover {
  background-color: #0e753d;
  transition: all 0.1s ease-out;
}

.new-notebook-form-header {
  display: flex;
  align-items: center;
}

.new-notebook-form-header-text {
  margin: 10px 0 10px 0;
  font-size: 16px;
  color: black;
}

.new-notebook-form-text {
  margin: 10px 0 20px 0;
  font-size: 12px;
  color: #777;
}

.close-x {
  margin-left: auto;
  cursor: pointer;
}

.close-x:hover {
  /* opacity: 0.5; */
  color: rgb(184, 184, 184);
  transition: all 1s ease-out;
}

.new-notebook-form-input {
  color: #333333;
  border: 1px solid #e6e6e6;
  padding: 6px 8px;
  border-radius: 6px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  /* line-height: 1.1875; */
  width: 95%;
  background-color: transparent;
  outline: none;
  z-index: 1;
}

.new-notebook-form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #ededed;
}


.new-notebook-form-title-input {
  margin-top: 10px;
}

.new-notebook-form-title-label {
  color: #7a8083;
  font-size: 12px;
  font-weight: 600;
}

.notebook-detail-notes-container {
  width: 100%;
  display: flex;
}

.notebook-detail-notes {
  position: fixed;
  left: 220px;
  top: 0px;
  width: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  /* border-right: 1px solid #e6e6e6; */
  background: #f8f8f8;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, san-serif;
  color: #4d4d4d;
  overflow: auto;
  height: 100%;
}

.notebook-detail-notes-list {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e6e6e6;
}

.notebook-detail-notes-list li {
  padding: 20px;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
}

.notebook-detail-notes-list li:hover {
  padding: 20px;
  background-color: #f2f2f2;
}

.notes-list-clicked {
  background-color: #f2f2f2;
}

.notebook-detail-notes-count {
  padding-left: 20px;
  font-size: 12px;
  font-weight: 300;
  padding-bottom: 10px;
  /* border-bottom: 1px solid #e6e6e6; */
}

.left-nav-new-note-button {
  color: white;
}

.fa-plus-circle {
  font-size: 25px;
  color: rgb(36, 159, 36);
}

.left-nav-new-note-button-icon {
  transition: all .1s ease-in-out; 
}

.left-nav-new-note-button-icon:hover {
  transform: scale(1.3);
}

.left-nav-new-note-button-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.left-nav-new-note-button-text {
  font-size: 14px;
  padding-left: 10px;
  font-weight: 500;
}

.left-nav-buttons-container {
  font-size: 14px;
  color: #ccc;
}

.left-nav-buttons-container div:hover {
  background-color: #333;
  transition: .1s ease-in-out;
}

.left-nav-buttons-container {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, san-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5em;
}

.left-nav-all-notes, .left-nav-notebooks, .left-nav-tags {
  display: flex;
  padding: 5px 0px 5px 20px;
}

.left-nav-all-notes-icon {
  display: flex;
  margin-right: 10px;
}

.left-nav-notebooks-icon {
  display: flex;
  margin-right: 10px;
}

.left-nav-tags-icon {
  display: flex;
  margin-right: 10px;
}

.notebook-item-expand, .notebook-item-icon, .notebook-item-notes-detail-title-icon {
  padding-right: 4px;
  display: flex;
  align-items: center;
}

.notebook-item-notes-detail-title-icon-note {
  padding-left: 40px;
  padding-right: 4px;
  display: flex;
  align-items: center;
}

.notebook-item-notes-detail-title-text {
  overflow: hidden;
}

.notebook-detail-note-title {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 6px;
}

.notebook-detail-note-content {
  font-size: 12px;
  font-weight: 400;
}

.notebook-actions-nav-text {
  text-decoration: none;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.notebooks-item-col5, .col5 {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.row-identifier {
  display: flex;
  width: 100%;
}

.current-view {
  background-color: #404040;
}

.search-notebooks {
  margin-top: 10px;
  font-size: 12px;
}

.search-submit-button {
  background-color: #00a82d;
  border-radius: 1px;
  color: white;
  border-color: #00a82d;
  padding: 1px 2px;
  /* margin: 2px; */
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 12px;
  margin-right: 4px;
  /* line-height: 1.1875; */
}

.search-form-submit-container {
  display: flex;
  justify-items: flex-end;
}

.search-input {
  background-color: #333;
  border-radius: 3px;
}

.notebook-detail-note-updated-at {
  font-size: 10px;
  margin-top: 10px;
}

.empty-notes-message {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
}

.empty-notes-subheader {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.empty-notes-text {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.tags-list-content {
  border-top: 2px solid #5b6b70;
}

.rotated-90-degrees {
  transform: rotate(90deg);
  transform-origin: 0px 0px 0px 0px 0px;
}

.left-nav-notebooks-button-container, .left-nav-tags-button-container, .left-nav-notes-button-container {
  display: flex;
  align-items: center;
}

.notebook-item-actions {
  display: flex;
}

.notebook-actions-nav-default-notebook, .notebook-actions-nav-rename, .notebook-actions-nav-delete {
  width: 100%;
}

.notebook-item-delete, .notebook-item-rename, .notebook-item-default {
  margin-left: 10px;
  margin-right: 10px;
}

.notebook-actions-nav-default-notebook:hover, .notebook-item-delete:hover, .notebook-actions-nav-rename:hover, .notebook-actions-nav-delete:hover {
  cursor: pointer;
  color: #555;
  background-color: #f5f5f5;
  transition-property: color, background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.new-notebook-button-icon {
  display: flex;
  align-items: center;
}

.new-notebook-notebooks-index-header {
  display: flex;
}

.notebooks-list-menubar-new-notebook-button {
  display: flex;
    color: #00a82d;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  height: 40px;
  font-size: 14px;
  line-height: 37px;
  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;
}
.notebooks-list-menubar-new-notebook-button:hover {
  color: #14CC45;
  transition: .1s color ease-in-out;
  cursor: pointer;
}

.new-notebook-button-icon:hover {
  fill: #14CC45;
}

.view-tag-label {
  margin: 5px 0px 10px 20px;
  background-color: #00a82d;
  border-radius: 1em;
  padding: 0 5px 0 10px;
  color: #fff;
  font-size: 12px;
  width: 70px;
  display: flex;
}

.view-tag-label-close {
  margin-left: 5px;
}

.view-tag-label-close svg {
  fill: white;
  height: 7px;
  width: 7px;
}

.notebook-detail-notes-spacer {
  min-width: 300px;
  width: 300px;
  height: 100vh;
  background: #f8f8f8;
  border-right: 1px solid #e6e6e6;
}