// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-header {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 130px;
}

.auth-buttons {
  margin-left: auto;
}

.main-header li {
  display: inline-block;
  margin: 0 5px;
}

.button {
  color: #00a82d;
  font-family: Helvetica, Arial, sans-serif;
  height: 40px;
  font-size: 14px;
  line-height: 37px;
  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;
  border-radius: 3px;
  padding: 0 10px;
}

.button-outline {
  border: 2px solid #00a82d;
  min-width: 120px;
}

